@page "/Challenge6/{id:int}"

@inject AuthenticationStateProvider auth

<EinsteinHacking.Shared.Html>
    <Content>
        <EinsteinHacking.Pages.Components.ChallengeBody id="@id" />
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">

                </h4>
            </div>
        </div>
    </Content>
</EinsteinHacking.Shared.Html>



@code {
    [Parameter]
    public int id { get; set; }
    private string username;

    protected override void OnInitialized()
    {
        username = auth.GetAuthenticationStateAsync().Result.User.Identity.Name;
    }
}

