@page "/Challenge6/{id:int}"

@inject AuthenticationStateProvider auth

<EinsteinHacking.Shared.Html>
    <Content>
        <EinsteinHacking.Pages.Components.ChallengeBody id="@id" />
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Dein Ziel: </h4>
                <table width="100%">
                    <tr>
                        <td colspan="2">

                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">Name und Adresse</th>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Christine Müller</td>
                    </tr>
                    <tr>
                        <td>Adresse</td>
                        <td>Langstrasse 12 Zürich</td>
                    </tr>
                    <tr>
                        <td>Geboren</td>
                        <td>12. Januar 1956</td>
                    </tr>
                    <tr>
                        <td colspan="2">

                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">Ehemann</th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>
                                Christoph Müller <br />
                                Gebohren: 12. Juni 1982 <br />
                                Verheiratet <br />
                                2 Kinder
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">

                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">Kinder: </th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>
                                Nico Müller <br />
                                Gebohren: 12. Juni 1960 <br />
                            </p>
                            <p>
                                Melanie Müller <br />
                                Gebohren: 25. Juli 1980 <br />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">

                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">Haustiere</th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>
                                <b>Hund: </b>Bello <br />
                                Geb. 2015 <br />
                                Farbe: Golden <br />
                                Rasse: Golden Retriver <br />
                            </p>
                        </td>
                    </tr>
                </table>
                <i style="font:smaller;">Christine Müller joined Facebook in 2016</i>
                <p>
                    <br />
                    <br />
                    <br />
                        In einem realen Fall würde man die folgenden Informationen aus einer der vielen
                        Plattformen wie Facebook, Instagram oder so erhalte.
                        Wir haben diese hier für euch schon zusammengefasst,
                        damit ihr, falls ihr keine Accounts habt, auf besagten Plattformen keine machen müsst.
                </p>
            </div>
        </div>
    </Content>
</EinsteinHacking.Shared.Html>



@code {
    [Parameter]
    public int id { get; set; }
    private string username;

    protected override void OnInitialized()
    {
        username = auth.GetAuthenticationStateAsync().Result.User.Identity.Name;
    }
}

