@page "/Challenge9/{id:int}"

@inject AuthenticationStateProvider auth


<a class="form-control btn btn-primary" href="/download">Download</a>

<EinsteinHacking.Shared.Html>
    <Content>
        <EinsteinHacking.Pages.Components.ChallengeBody id="@id" />
    </Content>
</EinsteinHacking.Shared.Html>

@code {
    [Parameter]
    public int id { get; set; }
    private string username;

    protected override void OnInitialized()
    {
        username = auth.GetAuthenticationStateAsync().Result.User.Identity.Name;
    }
}
