<div class="alert alert-@Type mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    @Content
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public RenderFragment Content { get; set; }
}
