@page "/home"

<EinsteinHacking.Shared.Html>
    <Content>
        <div id="carouselExampleSlidesOnly" class="carousel slide margin-bottom-s" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-30" src="../assets/images/hackingcode.PNG" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="..." alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="..." alt="Third slide">
                </div>
            </div>
        </div>

        <h1>Hello everybody!</h1>

        <p>
            <strong>Would you like to learn some hacking/security basics? We've got the right thing for you!</strong>

        </p>

        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">About the project</h5>
                        <p class="card-text">First of all, thank you for participating! We created this website for our interdisciplinary project work in order to graduate school. Like in all other school projects with public participations, there will be a statistic behind all of that. Because of that, we would welcome it, if you would share this project and fill out the feedback form at the end of every challenge.</p>
                        <button type="button" onclick="this.select();document.execCommand('copy')" class="btn btn-primary">Copy URL</button>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Register</h5>
                        <p class="card-text">Don't have an acount? No problem? Click the first link to get to the registering-form or click on the second link to get to the login window.</p>
                        <a href="Identity/Account/Register" class="card-link">Register</a>
                        <a href="Identity/Account/Login" class="card-link">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <h2>What you'll learn</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Common security issues</h5>
                        <p class="card-text">You'll learn what makes an website unsecure.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">How hackers exploit security issues</h5>
                        <p class="card-text">Every challenge represents a way how a hacker may access an website by doing it yourself.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">How to overcome them</h5>
                        <p class="card-text">>You'll learn how to secure your data so you won't get exploited as easily.</p>
                    </div>
                </div>
            </div>
        </div>
    </Content>
</EinsteinHacking.Shared.Html>
