@page "/Impressum"

<h2>Contact address</h2>
<p>
    EinsteinHacking<br>
    Wiesenstrasse 32<br>
    5400 Baden<br>
    Switzerland<br>
    EinsteinHackingBBB@gmail.com
</p>

<h2>Persons authorized to represent</h2>
<p>
    Michelle Schär, developer<br>
    Lucien Käser, developer<br>
    Nicola Widmer, designer<br>
    Jonas Böller, project manager
</p>

<h2>Disclaimer</h2>
<p>The author assumes no liability with regard to the correctness, accuracy, timeliness, reliability and completeness of the content. Liability claims regarding damage caused by the use of any information provided, including any kind of information which is incomplete or incorrect,will therefore be rejected. All offers are non-binding. The author expressly reserves the right to change, supplement or delete parts of the pages or the entire offer without prior notice, or to cease publication temporarily or permanently.</p>

<h2>Liability for links</h2>
<p>References and links to third-party websites are outside our area of responsibility It is rejected any responsibility for such websites. Access and use of such websites is at the user's or user's own risk.</p>

<h2>Copyright</h2>
<p>The copyright and all other rights to the content, images, photos or other files on the website belong exclusively to the company EinsteinHacking or to the specifically named rights holders. For the reproduction of any elements, the written consent of the copyright holders must be obtained in advance.</p>

<h2>Source</h2>
<p>This imprint was created on 25.09.2021 with the imprint generator of the web design agency <a href='https://webkoenig.ch/' target='_blank'>Webkönig</a>. The agency Webkönig assumes no liability.</p>

@code {

}
